.center {
  margin: auto;
  width: 1200px;
  padding: 10px;
  background-color: #4ecca3;
}

.canvas {
  background-color: #393e46;
}

body {
  background-color: #232931;
}

.text {
  color: #eeeeee;
}

.score {
  font-family: 'press_start_2pregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press_start_2pregular';
  src: url('pressstart2p-regular-webfont.woff2') format('woff2'),
    url('pressstart2p-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
