.center {
  margin: auto;
  width: 1200px;
  padding: 10px;
  background-color: #4ecca3;
}

.canvas {
  background-color: #393e46;
}

body {
  background-color: #232931;
}

.text {
  color: #eeeeee;
}
